.loading {
    top: 0;
    left: 0;
    background-color: #0008;
    color: #fff;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading svg {
    font-size: 5px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 1;
    animation: text 1s ease-in-out infinite;
}

@keyframes text {
    50% {
        opacity: .1;
    }
}

.loading svg polygon {
    stroke-dasharray: 22;
    stroke-dashoffset: 1;
    animation: animate 4s cubic-bezier(.455, .03, .515, .955) infinite alternate-reverse;
}

@keyframes animate {
    50% {
        stroke-dashoffset: 234;
    }
}